*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
}

:root {
  font-size: 10px;
  --main-bg-color: #151515;
  --text-color-light: rgba(255, 255, 255, 0.86);
  --text-color-lightgray: rgba(255, 255, 255, 0.84);
  --border-color-dark: #2f2f2f;
  --header-height: 60px;
}

body {
  min-height: 100vh;
  max-width: 1400px;
  margin: 0 auto;
  line-height: 1.6;
  color: var(--text-color-light);
  background-color: var(--main-bg-color);
  border-left: 1px solid var(--border-color-dark);
  border-right: 1px solid var(--border-color-dark);
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  font-family: 'Boska', serif;
  font-family: 'Satoshi', sans-serif;
  font-size: 1.5rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: var(--text-color-light);
}

a:hover {
  color: rgb(194, 61, 59);
}

li {
  list-style: none;
}
